<!--

body, div, span, p, form, .qs, h1, h2, h3, ul, ol, li, a, td ,th, select, input, textarea
{
	font-family: Arial, Helvetica, sans-serif;
}

tt, pre 
{
	font-family: "Courier New", Courier, mono, monospace;
}

.indexdef 
{	
	font-family: "Times New Roman", serif; font-style: italic;
}

body, div, p, form, ul, ol, li, th, td, select, input, textarea
{
	font-size: 13px;
	color: #000000;
}
body a:link, a:visited, a:active { 
	text-decoration: underline; 
	color: #595959;
}

body a:hover { 
	color: #0000FF;
}

h2
{
	font-size: 16px;
	color: #993300;
}

h3
{
	font-size: 14px;
	color: #000000;
}

.qs
{
	font-size: 10px;
	color: #000000;
}

.blurb
{
	font-size: 11px;
}

.bibholdings
{
	border: 4px double silver;
}

hr
{	
	color: silver;
}

.bibItemsHeader{
	background-color: #000099; 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	color: white;
}
.bibItemsEntry {
	background-color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.bibSearchTool { font-size: x-small; }
.navigationRow a:link ( text-decoration: none; color=blue; )

TABLE.briefCitTable { 
	border: 1px solid #CCC; 
}

TABLE.bibEntry {
	border: 1px solid #CCC;
}
TR.briefCitRow {  color: #000000; font-weight: normal; }
TD.briefCitTitle { }
TD.briefCitStatus { font-weight: bold; }
TD.briefCitCall { padding-left: .2em; font-style: italic; }
TD.briefCitEntryNum { padding-right: 2px; }
TD.briefCitEntry {
	background-color: #F5F5F5;
}
TD.briefCitCheckbox { padding-right: 2px; }
TD.briefCitRow { border-top:0px solid #595959; }
TD.briefCitDetail { 
	background-color: #F5F5F5; 	
}
.briefCitItems {
	background-color: #F5F5F5; 
}

TABLE.browseScreen { BORDER-TOP: 1px solid; BORDER-TOP-COLOR: #000000; } 
TABLE.browseWidgit { background: #FFFFFF; }
TD.browseWidgit { color: #000000; background: #FFFFFF; text-align: center; }
TABLE.browseSaveJump { font-size: medium; } 
TD.browseSaveJump { color: #000000; background: #FFFFFF; text-align: left; }
TABLE.browseList { }

TD.browseHeaderNum {  background-color: #FFFFFF; color: #000000; font-weight: bold}
TD.browseHeaderMark {  background-color: #FFFFFF; color: #000000; font-weight: bold}
TD.browseHeaderData {  
	background-color: #000099;  
	color: #FFFFFF; 		
	font-size: 11px;		
 	font-weight: bold; 		
	vertical-align: center	
}						

TD.browseHeaderMedia {  background-color: #FFFFFF; color: #000000; font-weight: bold}
TD.browseHeaderYear {  background-color: #FFFFFF; color: #000000; font-weight: bold; text-align: center}
TD.browseHeaderEntries {  background-color: #FFFFFF; color: #000000; font-weight: bold}
TD.browseHeaderRelevance {  background-color: #FFFFFF; color: #000000; font-weight: bold}

TR.browseSuperEntry {  background-color: #FFFFFF; color: #000000}
TR.browseSubEntry {  background-color: #FFFFFF; color: #000000}
TD.browseSubEntryData { }
TD.browseSubEntryMedia { }
TD.browseSubEntryYear { }
TD.browseSubEntryEntries { }
TD.browseSubEntryRelevance { }
TR.browseEntry {  background-color: #FFFFFF; color: #000000}
TD.browseEntryNum { text-align: center; }
TD.browseEntryMark { font-weight: bold; }
TD.browseEntryData { background-color: #FFFFFF; color: #000000; font-weight: normal; }
TD.yourEntryWouldBeHereData { border: 2px solid #555555; background-color: E1E1E1; }
TD.browseEntryMedia { vertical-align: middle; }
TD.browseEntryYear {text-align: center; }
TD.browseEntryEntries { text-align: center; }
TD.browseEntryRelevance { }

TABLE.browseResourceTable { }
TD.browseResourceTable { }
TR.browseResourceTableEntry { }
TD.browseResourceTableEntry { }

TABLE.bibScreen { }
TABLE.bibWidgit { }
TABLE.bibInfo { }
TR.bibInfoEntry { }
TD.bibInfoEntry { }
TD.bibInfoLabel { }
TD.bibInfoData { }
TABLE.bibHoldings { }
TR.bibHoldingsHeader { }
TR.bibHoldingsData { }
TABLE.bibResourceTable { }
TD.bibResourceTable { }
TR.bibResourceTableEntry { }
TD.bibResourceTableEntry { }

TABLE.authTerm
TR.authTerm { }
TD.unauthTerm { }

TABLE.patDisplayTable { border: 1px solid #000000; }
TR.patDisplay { border: 1px solid #000000; }
TD.patDisplayFunc { border: 1px solid #000000; }
TD.patDisplayInfo { border: 1px solid #000000; }
TD.patInfo { }
TD.patImage { }

TABLE.patFuncTable { border: 1px solid #000000; }
TR.patFunc { border: 1px solid #000000; } 
TD.patFuncBookDate { } 
TD.patFuncBtns { } 
TD.patFuncCallNo { } 
TD.patFuncCancel { }
TD.patFuncDate { } 
TD.patFuncEntry { border: 1px solid #000000; }
TD.patFuncFinesDetail { }
TD.patFuncFinesDetailAmt { } 
TD.patFuncFinesDetailDate { } 
TD.patFuncFinesDetailDateLabel { } 
TD.patFuncFinesDetailType { } 
TD.patFuncFinesEntryDetail { border: 1px solid #000000; } 
TD.patFuncFinesEntryTitle { } 
TD.patFuncFinesTitle { border: 1px solid #000000; } 
TD.patFuncFinesTotal { } 
TD.patFuncFinesTotalAmt { }
TD.patFuncFinesTotalLabel { }
TD.patFuncHeaders { }
TD.patFuncMark { }
TD.patFuncModifyPatInfo { }
#info, #sms {
       border:1px solid #36647b;
       position:absolute;
       top:250;
       left:50; 
       z-index:1000;
       background:#fff;
       padding:10px;
       margin:10px;
       background:#efefcf;
}

#sms .eg {
       font-style:italic;
       font-size:80%;
}

#info {top:500}

#sms {font-size:70%}

#smsfeatures {margin:1em; text-align: center;}