	<!-- toplogo -->
<!-- /toplogo -->
	<!-- /toplogo -->
	
	<!-- ifbibdisplay -->
<!--{ifbibdisplay}-->
	<!-- /ifbibdisplay -->

<!--{xif}-->

	<!-- catedit -->
<!--{catedit}-->
	<!-- /catedit -->

<div id="bibDisplayBody">
<div class="navigationRowRecord">
	<!-- navrow -->
<!--{navrow}-->
	<!-- /navrow -->
</div>
<div id="bibDisplayContent">
<div class="bibSearch">
	<!-- searchtool -->
<!--{searchtool}-->
	<!-- /searchtool -->
<div class="bibSearchHistory">
	<!-- searchhistory -->
<!--{searchhistory}-->
	<!-- /searchhistory -->

</div>
</div><!-- bibSearch -->

<div class="bibPager">
	<!-- pager -->
<!--{pager}-->
	<!-- /pager -->
</div>

<div class="bibClear"></div>

<div class="bibResourceSidebar">
	<!-- ifhasresourcetable -->
<!--{ifhasresourcetable}-->
	<!-- /ifhasresourcetable -->

	<!-- resourcetable -->
<!--{resourcetable}-->
	<!-- /resourcetable -->
<!--{xif}-->
<!--Optional INNReach resources.-->
	<!-- innreach -->
<!--{innreach}-->
	<!-- /innreach -->

	<!-- relsearch -->
<!--{relsearch}-->
	<!-- /relsearch -->
</div>

<div class="bibDisplayJacket">
	<!-- bibimage -->
<!--{bibimage}-->
	<!-- /bibimage -->
<div class="bibMedia">
	<!-- media -->
<!--{media}-->
	<!-- /media --> 

</div>
</div>

<div class="bibDisplayContentMain">

	<!-- recordinfo:a -->
<!--{recordinfo:a}-->
	<!-- /recordinfo:a -->

<h1 class="bibDisplayTitle">
	<!-- recordinfo:t -->
<!--{recordinfo:t}-->
	<!-- /recordinfo:t -->
</h1>

	<!-- recordinfo:pR -->
<!--{recordinfo:pR}-->
	<!-- /recordinfo:pR -->

	<!-- ifhaspatrate -->
<!--{ifhaspatrate}-->
	<!-- /ifhaspatrate -->
<div class="bibDisplayRatings">
	<!-- ratings -->
<!--{ratings}-->
	<!-- /ratings -->
</div>
<!--{xif}-->

	<!-- booking -->
<!--{booking}-->
	<!-- /booking -->

	<!-- holdingslink -->
<!--{holdingslink}-->
	<!-- /holdingslink -->

<div class="testlinkeddocs">
	<!-- linkeddocs -->
<!--{linkeddocs}-->
	<!-- /linkeddocs -->
</div>
<div class="bibDisplayUrls">
	<!-- URLS -->
<!--{URLS}-->
	<!-- /URLS -->
</div>

	<!-- bloblinks -->
<!--{bloblinks}-->
	<!-- /bloblinks -->
	
	<!-- imagelinks -->
<!--{imagelinks}-->
	<!-- /imagelinks -->

	<!-- artthumb -->
<!--{artthumb}-->
	<!-- /artthumb -->

	<!-- xmlframe -->
<!--{xmlframe}-->
	<!-- /xmlframe -->

<!--{ifTOC}-->

	<!-- TOC -->
<!--{TOC}-->
	<!-- /TOC -->

<!--{xif}-->

	<!-- holds -->
<!--{holds}-->
	<!-- /holds -->

	<!-- holdings -->
<!--{holdings}-->
	<!-- /holdings -->

<div class="bibDisplayItems">
<div class="bibDisplayItemsHeader"><h2>Copies</h2></div>
<div class="bibDisplayItemsMain">
	<!-- items -->
<!--{items}-->
	<!-- /items -->
</div>
</div>

	<!-- orders -->
<!--{orders}-->
	<!-- /orders -->

<div class="bibDisplayContentMore">
	<!-- recordinfo:# -->
<!--{recordinfo:#}-->
	<!-- /recordinfo:# -->
	
</div>

	<!-- IFELCONTENT:365 -->
<!--{IFELCONTENT:365}-->
	<!-- IFELCONTENT:365 -->
	
<!-- Replace the number for your enhanced content in Pathfinder Pro -->
<div class="bibDisplayContentMore">
<ul id="elContent">

	<!-- ELCONTENT:365 -->
<!--{ELCONTENT:365}-->
	<!-- ELCONTENT:365 -->
	
</ul>
</div>
<!--{xif}-->

<div class="bibDisplayContentMore bibDisplayReviews">
<div class="bibDisplayPermLink actionButtonArea">

	<!-- recordlink -->
<!--{recordlink}-->
	<!-- /recordlink -->
	
</div>

	<!-- patronreviewsfull -->
<!--{patronreviewsfull}-->
	<!-- /patronreviewsfull-->

</div>

</div>


</div><!-- close bibDisplayContent -->
<div class="clear"></div>
</div><!-- close bibDisplayBody -->
	<!--{botlogo}-->
<!--{botlogo}-->
	<!--{botlogo}-->
