
<!-- briefcit_auth.html start-->
<tr>
	<td class="briefcitCell">
		<div class="briefcitRow">

			<div class="briefcitLeft">
				<div class="briefcitEntryNum">
					<!--{entrynum}-->
					
<!--{entrynum}-->

					<!--{entrynum}-->
				</div>
			</div>

			<div class="briefcitJacket">
			</div>

			<div class="briefcitAuthDetail">
				<div class="briefcitDetailMain">
					<table class="table"><tr><td>
						<!--{authdata}-->
						
<!--{authdata}-->

						<!--{authdata}-->
					</tr></table>
				</div>
			</div>

			<div class="briefcitClear">
			</div>

		</div>
	</td>
</tr>
<!-- briefcit_auth.html end -->
