
<!-- briefcit_resource.html start -->
<tr>
	<td class="briefcitCell">
		<div  class="briefcitRow">
			<div class="briefcitResourceLeft">
				<div class="briefcitEntryNum">
					<!--{entrynum}-->
					
<!--{entrynum}-->

					<!--{entrynum}-->
				</div>

				<div class="briefcitResourceMedia">
					<!--{media}-->
					
<!--{media}-->

					<!--{media}-->
				</div>
			</div>

			<div class="briefcitJacket">
			</div>

			<div class="briefcitDetail">
				<div class="briefcitDetailMain">
					<strong class="briefcitTitle">
						<!--{linkfieldspec:VeT}-->
						
<!--{linkfieldspec:VeT}-->

						<!--{linkfieldspec:VeT}-->
					</strong>
					<br >
						<!--{fieldspec:Vef}-->
						
<!--{fieldspec:Vef}-->

						<!--{fieldspec:Vef}-->
					<br >
						<!--{toresourcerecord}-->
						
<!--{toresourcerecord}-->

						<!--{toresourcerecord}-->
					<br>
					<em>
						<!--{fieldspec:Vek}-->
						
<!--{fieldspec:Vek}-->

						<!--{fieldspec:Vek}-->
					</em>
				</div>
			</div>
		</div>
	</td>
</tr>
<!-- briefcit_resource.html end -->
