<!-- briefcit.html start-->
<tr>
<td>
	<div class="row">
	
		<div class="col-md-1">
			<!-- mark -->

<!--{mark}-->

			<!-- /mark -->
			<br />
			<!-- entrynum -->
						
<!--{entrynum}-->
					
			<!-- /entrynum -->
		</div>
	
		<div class="col-md-1">
			<!-- media -->

<!--{media}-->

			<!-- /media -->
		</div>
		
		<div class="col-md-10">
			<!-- nohitmsg -->

<!--{nohitmsg}-->

			<!-- /nohitmsg -->
			
			<!-- linkfieldspec:Vbt245ab -->

<!--{linkfieldspec:Vbt245ab}-->

			<!-- linkfieldspec:Vbt245ab -->

			<br />
			
			<!-- fieldspec:Vba -->					
					
<!--{fieldspec:Vba}-->

			<!-- /fieldspec:Vba -->
			
			<br />
			
			<!-- fieldspec:Vbp -->
					
<!--{fieldspec:Vbp}-->

			<!-- /fieldspec:Vbp -->
			
			<br />
			<!-- fieldspec:Vba -->					
					
<!--{fieldspec:Vba}-->

			<!-- /fieldspec:Vba -->
			
			
		</div>
	</div>
</td>		
</tr>
<!-- briefcit.html end-->