<!-- briefcit_resource.html start -->
<tr class="briefCitRow">
	<td>
		<table class="table">
			<tr>
				<td>
					<span class="briefcitTitle">
						<!-- linkfieldspec:VeT -->

<!--{linkfieldspec:VeT}-->

						<!-- /linkfieldspec:VeT -->
					</span>
				</td>

				<td>
					<!-- toresourcerecord -->

<!--{toresourcerecord}-->

					<!-- /toresourcerecord -->

				</td>
			</tr>

			<tr>
				<td>
					<!-- fieldspec:Vee -->
					
<!--{fieldspec:Vee}-->

					<!-- /fieldspec:Vee -->
				</td>
			</tr>

			<tr>
			<td>
				<!-- fieldspec:Vef -->
				
<!--{fieldspec:Vef}-->

				<!-- /fieldspec:Vef -->
			</td>
			</tr>

			<tr>
				<td>
					<!-- fieldspec:Vek -->
					
<!--{fieldspec:Vek}-->

					<!-- /fieldspec:Vek -->
				</td>	
			</tr>
		</table>
	</td>
</tr>