<!-- briefcit.html start-->
<tr>
	<td class="briefCitRow">
		<table class="table">
			<tr>
				<td class="col-md-1 briefcitEntry">
					<div class="briefcitEntryNum">
						<!-- entrynum -->
						
<!--{entrynum}-->
					
						<!-- /entrynum -->
					</div>
						<!-- mark -->

<!--{mark}-->

						<!-- /mark -->
				</td>
								
				<td class="briefcitDetail">
					<!-- nohitmsg -->

<!--{nohitmsg}-->

					<!-- /nohitmsg -->
					
					<!-- bookjacket -->

<!--{bookjacket}-->

					<!--{bookjacket}-->

				&nbsp;

					<!-- rating -->

<!--{rating}-->

					<!-- /rating -->
					
					<span class="briefcitTitle">
						<!-- linkfieldspec:Vbt245ab -->

<!--{linkfieldspec:Vbt245ab}-->

						<!-- linkfieldspec:Vbt245ab -->
					</span>
					<br />
					<!-- fieldspec:Vba -->					
					
<!--{fieldspec:Vba}-->

					<!-- /fieldspec:Vba -->
					<br />
					<!-- fieldspec:Vbp -->
					
<!--{fieldspec:Vbp}-->

					<!-- /fieldspec:Vbp -->
					<br />
					<span class="briefcitStatus">
						<!-- holds -->

<!--{holds}-->

						<!-- /holds -->
					</span>
					</br>
					<div class="briefcitItems">
						<!-- items -->
						
<!--{items}-->

						<!-- /items -->
					</div>
					<div class="briefcitActions">
						<!-- 856link -->
						
<!--{856link}-->

						<!-- /856link -->
						
						<!-- ifmulti856 -->

<!--{ifmulti856}-->
						
						<!-- /ifmulti856 -->

						&nbsp;
						
						<!-- more856 -->

<!--{more856}-->

						<!-- /more856 -->

						<!-- xif -->

<!--{xif}-->

						<!-- /xif -->

						<!-- 962link -->

<!--{962link}-->

						<!-- /962link -->

						<!-- ifmulti962 -->

<!--{ifmulti962}-->

						<!-- /ifmulti962 -->

						&nbsp;

						<!-- more962 -->						

<!--{more962}-->

						<!-- /more962 -->

						<!-- xif -->

<!--{xif}-->

						<!-- /xif -->

					</div>
				</td>

				<td class="briefcitDetail">
					<!-- request -->
					
<!--{request}-->

					<!-- /request -->

					<!-- year -->
					
<!--{year}-->

					<!-- /year -->
					<br />
					<!-- media -->

<!--{media}-->

					<!-- /media -->
					<br />
				</td>
			</tr>
			
			<tr>
				<td class="col-md-1">
					&nbsp;
				</td>
				
				<td colspan="1>
					<!-- items -->
					
<!--{items}-->

					<!-- /items -->
				</td>
			</tr>
		</table>
	</td>
</tr>
<!-- briefcit.html end-->