
<!-- briefcit.html start -->
<tr>
	<td class="briefcitCell">
		<div class="briefcitRow">	
			<div class="briefcitLeft">
				<div class="briefcitEntryNum">
					<!-- entrynum -->
					
<!--{entrynum}-->

					<!-- entrynum -->
				</div>
				<div class="briefcitMark">
					<!--{mark}-->
					
<!--{mark}-->

					<!--{mark}-->
				</div>

				<div class="briefcitMedia">
					<!--{media}-->
					
<!--{media}-->

					<!--{media}-->
				</div>
			</div>
			
			<div class="briefcitJacket">
				<!--{bookjacket}-->
				
<!--{bookjacket}-->

				<!--{bookjacket}-->
			</div>

			<div class="briefcitDetail">
				<div class="briefcitDetailMain">
					<!--{nohitmsg}-->
					
<!--{nohitmsg}-->

					<!--{nohitmsg}-->
					<strong class="briefcitTitle">
						<!--{linkfieldspec:Vbt245ab}-->
						
<!--{linkfieldspec:Vbt245ab}-->

						<!--{linkfieldspec:Vbt245ab}-->
					</strong>
					<br />
					<!--{fieldspec:Vba}-->
					
<!--{fieldspec:Vba}-->

					<!--{fieldspec:Vba}-->
					<br />
					<!--{fieldspec:Vbp}-->
					
<!--{fieldspec:Vbp}-->

					<!--{fieldspec:Vbp}-->

					<!--{year}-->
					
<!--{year}-->

					<!--{year}-->

					<br>
					<div class="briefcitRatings">
						<strong>Rating:</strong>
						<!--{rating}-->
						
<!--{rating}-->

						<!--{rating}-->
					</div>

					<div class="briefcitRequest">
						<!--{request}-->
						
<!--{request}-->

						<!--{request}-->
					</div>
					
					<span class="briefcitStatus">
						<!--{holds}-->
						
<!--{holds}-->

						<!--{holds}-->
					</span>

					<div class="briefcitActions">

						<!--{856link}-->
						
<!--{856link}-->

						<!--{856link}-->
						
						<!--{ifmulti856}-->
						
<!--{ifmulti856}-->

						<!--{ifmulti856}-->
						
						&nbsp;
						<!--{more856}-->
						
<!--{more856}-->

						<!--{more856}-->
						
						<!--{xif}-->
						
<!--{xif}-->

						<!--{xif}-->
						
						<!--{962link}-->
						
<!--{962link}-->

						<!--{962link}-->
						
						<!--{ifmulti962}-->
						
<!--{ifmulti962}-->

						<!--{ifmulti962}-->
						
						&nbsp;
						<!--{more962}-->
						
<!--{more962}-->

						<!--{more962}-->
						
						<!--{xif}-->
						
<!--{xif}-->

						<!--{xif}-->
						
					</div>
				</div>
				<div class="briefcitItems">
					<div class="briefcitItemsHeader">
						<strong>Copies</strong>
					</div>
					
					<div class="briefcitItemsMain">
						<!--{items}-->
						
<!--{items}-->

						<!--{items}-->
					</div>
				</div>

			</div>
			
			<div class="briefcitClear">
			</div>
		</div>
	</td>
</tr>
<!-- briefcit.html end -->
