<html>

<head>

<!-- font-awesome -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

<style>
.catnav {
	background-color: rgba(0,168,228,.8);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: smaller;
}
.catnav:hover {
	color:black;
}
</style>

</head>

<body>
<div>&nbsp;</div>

<div class="container-fluid">
<div class="row">

<div class="col-md-12">
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-home fa-lg"></i> start over</a>
		
	<a class="btn btn-default catnav" href="#"><i class="fa fa-search fa-lg"></i> another search</a>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-search-plus fa-lg"></i> modify search</a>
		
	<a class="btn btn-default catnav" href="#"><i class="fa fa-laptop fa-lg"></i> search ohiolink</a>

	<a class="btn btn-default catnav" href="#"><i class="fa fa-clipboard fa-lg"></i> export to refworks</a>

	<a class="btn btn-default catnav" href="#"><i class="fa fa-file-text-o fa-lg"></i> export to refworks</a>
	
	<div>&nbsp;</div>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-th-list fa-lg"></i> marc display</a>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-hand-o-left fa-lg"></i> return to browse</a>

	<a class="btn btn-default catnav" href="#"><i class="fa fa-floppy-o fa-lg"></i> save</a>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-exclamation fa-lg"></i> hold</a>

	<a class="btn btn-default catnav" href="#"><i class="fa fa-files-o fa-lg"></i> more like this</a>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-times fa-lg"></i> clear saved records</a>
	
	<a class="btn btn-default catnav" href="#"><i class="fa fa-folder-open-o fa-lg"></i> view saved</a>
	
</div>
	
</div> <!-- /row -->
</div> <!-- /container -->
</body>
