<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>University of Dayton Libraries Catalog</title>

		<!-- font-awesome -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- bootstrap -->
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
		<!-- custom css -->
		<link href="../custom.css" rel="stylesheet">
		
	</head>
	<body>

		<div class="container">
		<div class="row">
		<div class="col-md-3">
	
		<!-- NAVIGATION_WIDGET -->
		<!-- include custom class ".nav_widget>li>a" -->
		<div id="NAVIGATION_WIDGET">
		<!--                   -->

		<div class="widget" style="
			padding-top: 12px;
			//border-top: 8px solid #d52728;
			//box-shadow: 0 0 1px #666 inset;
			//padding: 20px;
			//margin-bottom: 30px;
			//margin-top: 10px;
		">
			<ul class="nav nav-list nav_widget">
				<li>
					<a href="/patroninfo"> 
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					My Library Account
					</a>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true" style="
						background-image: none;
					">Libraries <span class="caret"></span></a>
					<ul class="dropdown-menu nav_widget" role="menu">
						<li>
							<a href="http://www.udayton.edu/libraries/">
							<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
							Roesch Library
							</a>
						</li>
						<li>
							<a href="https://www.udayton.edu/imri/">
							<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
							Marian Library
							</a>
						</li>
						<li>
							<a href="http://www.udayton.edu/education/cmc/">
							<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
							CMC Library
							</a>
						</li>
						<li>
							<a href="http://www.udayton.edu/law/library/" style="
							border-bottom: 0px;
							">
							<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
							Zimmerman Law Library
							</a>
						</li>
					</ul>
				</li>
				
				<li>
					<a href="https://www.udayton.edu/libraries/help.php">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					Get Help 
					</a>
				</li>
				<li>
					<a href="https://udayton.illiad.oclc.org/illiad/logon.html">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					InterLibrary Loan
					</a>
				</li>
				<li>
					<a href="http://library2.udayton.edu/newbooks/">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					New Books List
					</a>
				</li>
				<li>
					<a href="http://www.librarything.com/profile.php?view=RoeschLeisure">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					Leisure Reading
					</a>
				</li>
				<li>
					<a href="http://www.ohiolink.edu/">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					OhioLINK
					</a>
				</li>
<!-- 				
				<li>
					<a href="http://libproxy.udayton.edu/login?url=http://newfirstsearch.oclc.org/dbname=WorldCat;done=referer;FSIP">
					WorldCat
					</a>
				</li>
 -->				
				<li>
					<a href="https://www.udayton.edu/libraries/services/catalog-error-form.php">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					Report a Catalog Error
					</a>
				</li>
				<li>
					<a href="https://www.udayton.edu/libraries/hours.php" style="
					border-bottom:0px;
					">
					<!-- <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span> -->
					Hours
					</a>
				</li>
			</ul>
		</div>
		
		<!--                    -->
		</div>
		<!-- /NAVIGATION WIDGET -->

		</div>
		</div>
		</div>
	
		
		<span class="visible-xs">visible-xs</span>
		<span class="visible-sm">visible-sm</span>
		<span class="visible-md">visible-md</span>
		<span class="visible-lg">visible-lg</span>
		
			
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>