<html>
<head>

<!-- font-awesome -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- bootstrap -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- custom css -->
<link href="./custom.css" rel="stylesheet">

</head>

<body>
<pre>

# General Display and Behavior

ICON_BUT_CANCEL=<span class="ICON_BUT_CANCEL"><span onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> cancel</div></span></span>
ICON_BUT_CLOSEWINDOW=<span class="ICON_BUT_CLOSEWINDOW"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> close window</div></span>
ICON_BUT_RET2CAT=<span class="ICON_BUT_RET2CAT"><div class="btn btn-default catnav"><i class="fa fa-home fa-sm"></i> return to catalog</div></span>
ICON_BUT_STARTOVER=<span class="ICON_BUT_STARTOVER"><div class="btn btn-default catnav"><i class="fa fa-undo fa-sm"></i> start over</div></span>


# Staff

ICON_BUT_PUBLIC=<span class="ICON_BUT_PUBLIC"><div class="btn btn-default catnav"><i class="fa fa-user fa-sm"></i> patron view</div></span>
ICON_BUT_STAFF=<span class="ICON_BUT_STAFF"><div class="btn btn-default catnav"><i class="fa fa-users fa-sm"></i> staff view</div></span>


# General and Phrase Searching

ICON_BUT_ANOTHER=<span class="ICON_BUT_ANOTHER"><div class="btn btn-default catnav"><i class="fa fa-search fa-sm"></i> another Search</div></span>
ICON_BUT_NEWSRCH=<span class="ICON_BUT_NEWSRCH"><div class="btn btn-default catnav"><i class="fa fa-undo fa-sm"></i> start Over</div></span>
ICON_BUT_WORDSRCH=<span class="ICON_BUT_WORDSRCH"><div class="btn btn-default catnav"><i class="fa fa-search-plus fa-sm"></i> search as Words</div></span>



# Advanced Searching

ICON_BUT_MODIFY=<span class="ICON_BUT_MODIFY"><div class="btn btn-default catnav"><i class="fa fa-search-plus fa-sm"></i> modify search</div></span>
ICON_BUT_SHOWSIM=<span class="ICON_BUT_SHOWSIM"><div class="btn btn-default catnav"><i class="fa fa-files-o fa-sm"></i> more like this</div></span>



# Search Results

ICON_BUT_BRIEF=<span class="ICON_BUT_BRIEF"><div class="btn btn-default catnav"><i class="fa fa-list fa-sm"></i> brief display</div></span>
ICON_BUT_EXTENDED=<span class="ICON_BUT_EXTENDED"><div class="btn btn-default catnav"><i class="fa fa-list-alt fa-sm"></i> extended display</div></span>
ICON_BUT_LIMAVAIL=<span class="ICON_BUT_LIMAVAIL"><div class="btn btn-default catnav"><i class="fa fa-check-circle-o fa-sm"></i> limit to available</div></span>
ICON_BUT_LIMIT=<span class="ICON_BUT_LIMIT"><div class="btn btn-default catnav"><i class="fa fa fa-search-plus fa-sm"></i> limit/sort search</div></span>
ICON_BUT_UNLIMAVAIL=<span class="ICON_BUT_UNLIMAVAIL"><div class="btn btn-default catnav"><i class="fa fa-play-circle-o fa-sm"></i> show all</div></span>


# Record Displays

ICON_BUT_MARC_DISPLAY=<span class="ICON_BUT_MARC_DISPLAY"><div class="btn btn-default catnav"><i class="fa fa-th-list fa-sm"></i> marc display</div></span>
ICON_BUT_REGULAR_DISPLAY=<span class="ICON_BUT_REGULAR_DISPLAY"><div class="btn btn-default catnav"><i class="fa fa-list fa-sm"></i> regular display</div></span>
ICON_BUT_RTRNTB=<span class="ICON_BUT_RTRNTB"><div class="btn btn-default catnav"><i class="fa fa-list-ol fa-sm"></i> return to browse</div></span>

# Holdings

ICON_BUT_CARDFORM_BOX=<span class="ICON_BUT_CARDFORM_BOX"><div class="btn btn-default catnav"> show cards in box format</div></span>
ICON_BUT_CARDFORM_LIN=<span class="ICON_BUT_CARDFORM_LIN"><div class="btn btn-default catnav"> show cards in line format</div></span>



# Saving and Exporting

ICON_BUT_BIBEXPORT=<span class="ICON_BUT_BIBEXPORT"><div class="btn btn-default catnav"><i class="fa fa-floppy-o fa-sm"></i> add to saved</div></span>
ICON_BUT_CLEAR_MARKED=<span class="ICON_BUT_CLEAR_MARKED"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> empty saved</div></span>
ICON_BUT_EXPORT_MULTI=<span class="ICON_BUT_EXPORT_MULTI"><div class="btn btn-default catnav"><i class="fa fa-paper-plane-o fa-sm"></i> export saved</div></span>
ICON_BUT_EXPORT_VIEW_SAVES=<span class="ICON_BUT_EXPORT_VIEW_SAVES"><div class="btn btn-default catnav"><i class="fa fa-folder-open-o fa-sm"></i> view saved</div></span>
ICON_BUT_VIEW_SAVES=<span class="ICON_BUT_VIEW_SAVES"><div class="btn btn-default catnav"><i class="fa fa-folder-open-o fa-sm"></i> view saved</div></span>


#Requesting

ICON_BUT_REQUEST=<span class="ICON_BUT_REQUEST_ALL"><div class="btn btn-default catnav">Request</div></span>
ICON_BUT_REQUEST_ALL=<span class="ICON_BUT_REQUEST_ALL" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">request available</div></span>
ICON_BUT_REQUEST_MULTI=<span class="ICON_BUT_REQUEST_MULTI"><div class="btn btn-default catnav">Request Saved</div></span>
ICON_BUT_REQUEST_RESET=<span class="ICON_BUT_REQUEST_RESET" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">reset form</div></span>
ICON_BUT_REQUEST_SELECTED=<span class="ICON_BUT_REQUEST_SELECTED" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">request selected</div></span>


# Patron Record

ICON_BUT_PAT_CANCEL=<span class="ICON_BUT_PAT_CANCEL" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> cancel</div></span>
ICON_BUT_PAT_CANCELALL=<span class="ICON_BUT_PAT_CANCELALL" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> cancel all</div></span>

ICON_BUT_PAT_CANCELMARK=<span class="ICON_BUT_PAT_CANCELMARK" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> cancel selected</div></span>
#ICON_BUT_PAT_CHKOUTS=
#ICON_BUT_PAT_FINES=
#ICON_BUT_PAT_HOLDS=
ICON_BUT_PAT_INFO=<span class=""><div class="btn btn-default catnav">Modify Personal Information</div></span>
ICON_BUT_PAT_MSGS=<span class=""><div class="btn btn-default catnav">Message from the library</div></span>
ICON_BUT_PAT_PIN=<span class=""><div class="btn btn-default catnav">Modify PIN</div></span>
ICON_BUT_PAT_RENEWALL=<span class=""><div class="btn btn-default catnav">Renew All</div></span>
ICON_BUT_PAT_RENEWMARK=<span class="ICON_BUT_PAT_RENEWMARK" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">renew marked</div></span>
ICON_BUT_PAT_SORTBYCHKOUT=<span class="ICON_BUT_PAT_SORTBYCHKOUT" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">sort by checkout</div></span>
ICON_BUT_PAT_SORTBYDUE=<span class="ICON_BUT_PAT_SORTBYDUE" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">sort by due date</div></span>
ICON_BUT_PAT_SUBMIT=<span class="ICON_BUT_PAT_SUBMIT" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">submit</div></span>
ICON_BUT_PSTARTOVER=<span class="ICON_BUT_PSTARTOVER"><div class="btn btn-default catnav"><i class="fa fa-undo fa-sm"></i> start Over</div></span>

ICON_BUT_UPDATE_HOLDS=<span onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">update list</div></span>


# My Millennium

ICON_BUT_PAT_PSEARCH_REMOVE=<span class="ICON_BUT_PAT_PSEARCH_REMOVE" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">delete all searches</div></span>

ICON_BUT_PAT_PSEARCH_UPDATE=<span class="ICON_BUT_PAT_PSEARCH_UPDATE" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">update list</div></span>

ICON_BUT_PAT_GETPSAVEDRECS=<span class="ICON_BUT_PAT_GETPSAVEDRECS"><div class="btn btn-default catnav">preferred searches</div></span>


# ILL

ICON_BUT_ILL_CANCEL=<span class="ICON_BUT_ILL_CANCEL" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> cancel</div></span>
ICON_BUT_ILL_FORM=<span class="ICON_BUT_ILL_FORM"><div class="btn btn-default catnav">interlibrary loan form</div></span>
ICON_BUT_ILL_HOME=<span class="ICON_BUT_ILL_HOME"><div class="btn btn-default catnav">new request</div></span>
ICON_BUT_PAT_ILL_FORM=<span class="ICON_BUT_PAT_ILL_FORM"><div class="btn btn-default catnav">interlibrary loan form</div></span>
ICON_BUT_PAT_ILL=<span class="ICON_BUT_PAT_ILL"><div class="btn btn-default catnav">interlibrary loan</div></span>


# Media Management

ICON_BUT_RET2CRS=<span class="ICON_BUT_RET2CRS"><div class="btn btn-default catnav">return to course</div></span>


# Featured Lists

ICON_BUT_PREVSCRN=<span class="ICON_BUT_PREVSCRN"><div class="btn btn-default catnav"><i class="fa fa-long-arrow-left fa-sm"></i> back</div></span>
ICON_BUT_RET2FEAT=<span class="ICON_BUT_RET2FEAT"><div class="btn btn-default catnav"><i class="fa fa-long-arrow-left fa-sm"></i> back</div></span>


# WebBridge/Pathfinder Pro

ICON_BUT_CLOSEFRAME=<span class="ICON_BUT_CLOSEFRAME"><div class="btn btn-default catnav"><i class="fa fa-times fa-sm"></i> close frame</div></span>
ICON_BUT_RESOURCELINK=<span class="ICON_BUT_RESOURCELINK"><div class="btn btn-default catnav">other resources</div></span>
ICON_BUT_RET2RESOURCE=<span class="ICON_BUT_RET2RESOURCE"><div class="btn btn-default catnav"><i class="fa fa-long-arrow-left fa-sm"></i> back</div></span>


# Z39.50

ICON_BUT_EMAIL=<span class="ICON_BUT_EMAIL"><div class="btn btn-default catnav">e-mail</div></span>
ICON_BUT_NEXTREC=<span class="ICON_BUT_NEXTREC"><div class="btn btn-default catnav">Next Record <i class="fa fa-long-arrow-right fa-sm"></i></div></span>
ICON_BUT_PREVREC=<span class="ICON_BUT_PREVREC"><div class="btn btn-default catnav"><i class="fa fa-long-arrow-left fa-sm"></i> Previous Record</div></span>
ICON_BUT_Z39_ANOTHER=<span class="ICON_BUT_Z39_ANOTHER"><div class="btn btn-default catnav">Another Database</div></span>
ICON_BUT_Z39_REQUEST=<span class="ICON_BUT_Z39_REQUEST"><div class="btn btn-default catnav">Request</div></span>
ICON_BUT_Z39SEARCH=<span class="ICON_BUT_Z39SEARCH"><div class="btn btn-default catnav">Search Other Libraries</div></span>


# Partner

ICON_BUT_RETHOME=<span class="ICON_BUT_RETHOME"><div class="btn btn-default catnav"><i class="fa fa-home fa-sm"></i> return to catalog</div></span>


# Program Display

ICON_BUT_PAT_PROGRAMS=<span class="ICON_BUT_PAT_PROGRAMS"><div class="btn btn-default catnav">Library Events</div></span>
ICON_BUT_PAT_SORTBYDATE=<span class="ICON_BUT_PAT_SORTBYDATE" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">sort by date</span></div>
ICON_BUT_PAT_SORTBYNAME=<span class="ICON_BUT_PAT_SORTBYNAME" onmousedown="this.className='pressedState';" onmouseout="this.className='';" onmouseup="this.className='';"><div class="btn btn-default catnav">sort by name</span></div>

</pre>
</body>