<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>University of Dayton Libraries Catalog</title>

		<!-- Bootstrap -->
		<link href="../bootstrap.min.css" rel="stylesheet">
		
		<!-- font-awesome -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<!-- custom css -->
		<link href="../custom.css" rel="stylesheet">
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		
	</head>
	<body>

		<div class="container-fluid">
		
		<div class="row">
		
		<div class="col-md-4" id="col-1">
		
			<span class="visible-xs">visible-xs</span>
			<span class="visible-sm">visible-sm</span>
			<span class="visible-md">visible-md</span>
			<span class="visible-lg">visible-lg</span>

		</div>
		
		<div class="col-md-4" id="col-2">
			<div>
				second column
			</div>
			<a href="http://library2.udayton.edu/"><div id="ICON_BUT_SHOWSIM" class="ICON_BUT_SHOWSIM btn btn-default catnav"><i class="fa fa-files-o fa-sm"></i> more like this</div></a>
		</div>
		
		<div class="col-md-4" id="icon_but_output">
		
			third column
		
		</div>
		
		</div>
		
		</div>
		
	</body>
</html>